.btn{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;

    transform: all 0.3s ease-in-out;


    &.primary-btn{
        background-color: rgb(184, 3, 51);
        color: whitesmoke;
    }

    &:active{
        transform: scale(0.9);
    }
}